version: '3.8'

services:
  minio:
    image: minio/minio:latest
    restart: always
    command: ['server', '/data', '--address', ':9001', '--console-address', ':9002']    
    ports:
      - '9001:9001'
      - '9002:9002' 
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123

  minio-bootstrap:
    image: minio/mc
    restart: on-failure
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9001 minio minio123;
      /usr/bin/mc mb local/test01;
      exit 0;
      "
